.DS_Store
#myapp/amplify/
#myapp/.DS_Store
#myapp/.flutter-plugins
#myapp/.flutter-plugins-dependencies
#myapp/.idea
#myapp/.metadata
#myapp/.packages
#myapp/analysis_options.yaml
#myapp/android
#myapp/build
#myapp/ios
#myapp/lib/amplifyconfiguration.dart
#myapp/myapp.iml
#myapp/pubspec.lock
#myapp/test
#myapp/web
#.gitignore